<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">HTTP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mr-3" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link text-white text-center" routerLink="/one">One</a>
        </li>
        <li class="nav-item mr-3" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/two">Two</a>
        </li>
        <li class="nav-item mr-3" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/three">Three</a>
        </li>
        <li class="nav-item mr-3" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/four">Four</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white mr-5" routerLink="/sign">SIgn</a>
        </li>
      </ul>
    </div>
  </nav>
  
